<h1>Welcome, <%= @user.username %>!</h1>

<h3><%= link_to "Join a Game", games_path, method: :post %></h3>

<ul>
  <% @user.games.each do |g| %>
    <li><%= link_to "Game #{g.id}", game_path(g) %></li>
  <% end %>
</ul>
